<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Printapp-Home</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>


</head>
<div id="app">
    <h1>{{hello}}</h1>
</div>
<body>
    <script>
        new Vue(
            {
                el:'#app',
                data: {hello: 'Hello my world'}
            }
        )
    </script>
</body>
</html>


<!--<script type="module">-->
<!--//    import { createApp } from 'vue'-->
<!--//-->
<!--//    createApp({-->
<!--//        data(){-->
<!--//            return {-->
<!--//                message: "Hello my world!"-->
<!--//            }-->
<!--//        }-->
<!--//        // component options-->
<!--//    }).mount('#app')-->